@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600;800&display=swap");

:root {
  --bg-dark: #020617;
  --bg-panel: rgba(15, 23, 42, 0.85);
  --gold: #facc15;
  --gold-dark: #ca8a04;
  --stone: #334155;
  --text: #f8fafc;
  --danger: #dc2626;
}

* {
  box-sizing: border-box;
}

/* body {
  margin: 0;
  min-height: 100vh;
  font-family: "Cinzel", serif;
  background:
    radial-gradient(circle at top, #1e293b, #020617),
    url("/bg-texture.png");
  color: var(--text);
} */
body {
  margin: 0;
  min-height: 100vh;
  font-family: "Cinzel", serif;
  background:
    radial-gradient(circle at top, #1e293b, #020617);
  color: var(--text);
}




.center-box {
  max-width: 400px;
  margin: 120px auto;
  padding: 30px;
  background: var(--bg-card);
  border: 3px solid var(--border-gold);
  border-radius: 12px;
  text-align: center;
}

input {
    /* margin-top: 12px; */

  width: 100%;
  margin: 8px 0;
  padding: 12px;
  background: #020617;
  border: 1px solid #475569;
  color: white;
}

.gold-btn-search {
  /* margin-top: 12px; */
    margin: 8px 0;
  border-radius: 10px;

  padding: 12px;
  width: 100%;
  background: linear-gradient(#facc15, #ca8a04);
  border: none;
  font-weight: bold;
  cursor: pointer;
}


/* Card Styles */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.troop-card {
  background: linear-gradient(#1e293b, #020617);
  border: 3px solid #475569;
  border-radius: 14px;
  padding: 18px;
  box-shadow: inset 0 0 10px #000;
}

.troop-card h3 {
  color: #facc15;
}

.attack-btn {
  width: 100%;
  background: linear-gradient(#dc2626, #7f1d1d);
  border: none;
  padding: 10px;
  margin-top: 10px;
  color: white;
  font-weight: bold;
}


select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  background: #020617;
  color: white;
  border: 1px solid #475569;
}

label {
  display: block;
  margin-top: 10px;
  color: #facc15;
}

.page {
  padding: 30px;
}

.battle-box {
  display: flex;
  gap: 10px;
  max-width: 500px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.troop-card {
  background: linear-gradient(#020617, #020617);
  border: 3px solid var(--stone);
  border-radius: 14px;
  padding: 18px;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.8);
}

.attack-btn {
  width: 100%;
  margin-top: 10px;
  background: linear-gradient(var(--danger), #7f1d1d);
  color: white;
  border: none;
  padding: 10px;
  font-weight: bold;
}




