version: "3.9"

services:
  backend:
    build: ./backend
    container_name: learning_backend
    ports:
      - "8000:8000"
    depends_on:
      - mongodb
    env_file:
      - ./backend/.env

  mongodb:
    image: mongo:latest
    container_name: learning_mongodb
    restart: always
    command: ["mongod", "--quiet", "--logpath", "/dev/null"]
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:




  # docker compose up --build --no-deps --force-recreate
